header {
    background-color: darkolivegreen;
    color: cornsilk;
}

main {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}